
html {
	font-family: sans-serif;
}
#game {
	margin: auto;
}
h1 {
	text-align: center;
}
a {
	color: #36c;
}

input[type=submit], button {
	background-color: #487bab;
	color: white;
	padding: 8px;
	/*border: 1px solid;
	border-color:  #8ebce8 gray gray #8ebce8;*/
	border:none;
	border-radius: 8px;
	outline-style: none;
	margin: 5px;
}

input[type=submit]:hover, button:hover {
	background-color: #5497d6
}

button:active, input[type=submit]:active {
	background-color: #154e85;
}

input[type=submit]:disabled, button:disabled {
	background-color:#dfe3eb;
	color: #a6a6a6;
}

input[type=text] {
	border: 2px solid LightGray;
	border-radius: 5px;
	padding: 3px 10px;
}

#options textarea {
	width:100%;
}

.centered {
	text-align: center;
}
.module {
	margin:5px;
	padding:10px;
}

.hidden {
	display: none !important;
}

.toggle {
	color: black;
	display: block;
	margin: 10px;
}

.toggle:hover {
	color:#636363;
}

#title {
	font-family: "Luminari", serif;
	letter-spacing: 15px;
}

#admin-controls {
	margin: 20px 15px;
	background-color: #686c70;
	color: white;
	border-radius: 15px;
}
#admin-controls h4 {
	margin:20px;
}
#admin-controls button {
	margin: 10px;
}

#about-content {
	margin: 20px;
}

.input-row {
	display: table-row;
}
.input-row label {
	display: table-cell;
	padding-right: 10px;
}
.input-row input {
	display: table-cell;
}
.input-row button {
	margin: 10px;
}
.input-item {
	text-align: left;
	margin: 10px 0px;
}

.toggle-box {
	background-color: #d9d9d9;
	padding: 10px;
	border-radius: 15px;
	margin: 20px 15px;
}

#join-controls {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#join-controls input {
	margin-top: 5px;
}

#options-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#options {
	width: 500px;
}

#deck-items li {
	display: inline-block;
	margin: 10px;
}

.game-controls button {
	margin: 5px 10px;
}

#gameboard {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.card-list ul {
	padding-left: 0px;
}

.card-list a {
	display: block;
	text-align: center;
}

.card-list img {
	height:160px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
}

.card-list li {
	list-style-type: none;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
}

.card-list li.facedown {
	background-color: black;
	color: white;
	width:100px;
	height:160px;
	padding: 0px;
	margin: 10px;
	text-align: center;
}

.card-list li.facedown div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 160px;
}

#gameplay-box {
	display: flex;
}

#info-container {
	width: 350px;
	min-width: 350px;
	display: flex;
	flex-direction: column;
}

#cards-container {
	flex-grow: 1;
}

#viewer-container {
	width: 350px;
	min-width: 350px;
}

.infobox {
	background-color: #d9d9d9;
	padding: 15px;
	margin: 15px;
	border-radius: 15px;
}

#rules table {
	border-collapse: separate;
	border-spacing: 0 10px;
}

#rules tr {
	padding: 5px 0px;
}

#rules td.rule {
	width: 180px;
	padding-right: 10px;
}

#rules td.pts {
	max-width: 70px;
}

#players {
	margin-left: 10px;
}

#players td.winning {
	width: 15px;
}

#players td.name {
	min-width: 40px;
}
#players td.score {
	min-width: 40px;
	text-align: right;
}

.game-stat {
	margin: 10px;
}

.local-uid {
	font-weight: bold;
}

.local-card {
	background-color: #ff8880;
}

#card-viewer {
	text-align: center;
	width: 100%;
	margin-top: 10px;
	height: 500px;
}

#card-viewer img {
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

.guess-info {
	text-align: center;
}

.guess-info li {
	display: block;
	padding: 2px;
}

.guess-info ul {
	padding: 0px;
}

.card-owner {
	font-size: 110%;
	text-decoration: underline;
}

.correct-uid .card-owner {
	font-weight: bold;
}

.correct-uid {
	background-color: #8991fa;
}	

#error_text {
	color: red;
}

li.active {
	background-color: #9feda7;
}

.player {

}

.waiting-move {
	color: red;
}

hr {
	width: 90%;
	border: 0px;
	background-color: gray;
	height: 1px;
}

@media (max-width: 768px) {
	#options {
		width: auto;
	}
	#gameplay-box {
		flex-direction: column;
	}
	#info-container {
		flex-direction: column-reverse;
	}
}