ul {
	padding-left: 0px;
}

.card-list li {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
}

.card-list img a {
	display: block;
	text-align: center;
}

.card-list img {
	height: 160px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.img-title {
	text-align: center;
}
